[submodule "engine/external/cutie-rhi"]
	path = engine/external/cutie-rhi
	url = https://github.com/doRedlive/Cutie-RHI.git
[submodule "engine/external/DirectX-Headers"]
	path = engine/external/DirectX-Headers
	url = https://github.com/microsoft/DirectX-Headers.git
[submodule "engine/external/mimalloc"]
	path = engine/external/mimalloc
	url = https://github.com/microsoft/mimalloc.git
[submodule "engine/external/SPIRV-Cross"]
	path = engine/external/SPIRV-Cross
	url = https://github.com/KhronosGroup/SPIRV-Cross.git
[submodule "engine/external/JoltPhysics"]
	path = engine/external/JoltPhysics
	url = https://github.com/jrouwe/JoltPhysics.git
[submodule "engine/external/tracy"]
	path = engine/external/tracy
	url = https://github.com/wolfpld/tracy.git
[submodule "tests/unit/googletest"]
	path = tests/unit/googletest
	url = https://github.com/google/googletest.git
