.idea/
.vs/
# .vscode/
.claude/
.codex/
bin/
build/
build_check/
obj/
_generated/

DodoeProfile.json

**./.DS_Store
.DS_Store

__pycache__/
*.pyc
*.pyo
*.pyd

*.pdb

*.log


*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.tiff
*.tif
*.webp
*.svg
*.ico
*.psd
*.ai
*.eps
*.raw
*.cr2
*.nef
*.orf
*.sr2

*.[Jj][Pp][Gg]
*.[Jj][Pp][Ee][Gg]
*.[Pp][Nn][Gg]

engine/external/python/
engine/src/metaparser/3rd_party/LLVM/bin/

*.dll
*.so
*.dylib
*.a
*.7z
*.zip