.idea/
.vs/
# .vscode/
.claude/
.codex/
bin/
build/
build_check/
obj/
_generated/

DodoeProfile.json
CakeryProfile.json
DodoeScripts.sln
imgui.ini

**./.DS_Store
.DS_Store

__pycache__/
*.pyc
*.pyo
*.pyd

*.pdb

*.log


engine/external/python/
engine/src/metaparser/3rd_party/LLVM/bin/