.idea/
.vs/
# .vscode/
bin/
build/
build_check/
obj/
_generated/

**./.DS_Store
.DS_Store

__pycache__/
*.pyc
*.pyo
*.pyd

*.pdb

*.log


*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.tiff
*.tif
*.webp
*.svg
*.ico
*.psd
*.ai
*.eps
*.raw
*.cr2
*.nef
*.orf
*.sr2

*.[Jj][Pp][Gg]
*.[Jj][Pp][Ee][Gg]
*.[Pp][Nn][Gg]