#ifdef DODOE_PYTHON_ENABLED

#include "runtime/function/script/tooling/py_bindings.h"

#include "runtime/function/world/components.h"
#include "runtime/function/world/entity.h"

namespace dodoe::py_bindings {

void RegisterGeneratedComponents(py::module_& m) {
{{#class_defines}}
    py::class_<{{class_name}}>(m, "{{class_name}}")
        .def(py::init<>())
{{#field_defines}}
        .def_readwrite("{{field_name}}", &{{class_name}}::{{field_name}})
{{/field_defines}}
        ;

    RegisterComponentType<{{class_name}}>("{{class_name}}");

{{/class_defines}}
}

} // namespace dodoe::py_bindings

#endif // DODOE_PYTHON_ENABLED
